.Calculator{
    width: 250px;
    height: 350px;
    background: #000;
    padding: 15px;
    border-radius: 18px;
    margin-top: 160px;
    margin-left: 500px;
}
#display{
    width: 225px;
    height: 40px;
    background: #dfd6d6;
    padding: 10px;
    border-radius: 8px;
    text-align: right;
    font-size: 30px;
    font-weight: 500;
}
.buttons{
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
}
button{
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    background-color: #0000007c;
    border-radius: 8px;  
}
.special{
    color: rgb(2, 221, 233);
}
.operator{
    color: orange;
}
.number{
    color: white;
}
#zero{
    grid-column: span 2;
    width: 120px;
}
#op{
    background-color: orange;
    color: white;
    border-radius: 5px;
}
