*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #00F7FF;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
}
.box{
    height: 15vmin;
    width: 15vmin;
    margin: 6px;
    border-radius: 15px ;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    font-size: 8vmin;
    color: red;
    background-color: #08080b;
    display: inline-block;
    vertical-align: middle;
}
h1{
    margin-bottom: 100px;
    font-size: 60px;
    color: firebrick;
}
#reset-btn{
    height: 50px;
    width:130px;
    background-color: white;
    color: black;
    font-size: larger;
    border-radius: 15px;
    margin-top: 80px;
    font-weight: bold;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.67);  
    margin-bottom: 20vmin;
    margin-top: 15vmin;
}
#new-btn{
    height: 50px;
    width:130px;
    background-color: white;
    color: black;
    font-size: larger;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.67);  
}
#msg{
    color: red;
    font-size: 8vmin;
}
.msg-container{
    margin-bottom: 40vmin;
    margin-top: 40vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
    
}